/*

QuickCalc by Simone Cingano
A simple calculator written in pure HTML5
Licence: MIT
Version: 1.0
Repository: https://github.com/yupswing/quickalc

*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow: hidden;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#memory {
    display: block;
    position: absolute;
    left: 3vw;
    font-size: 30%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#display {}
#calculator {}
.result {
    font-family: Lato, Roboto, Arial;
    font-size: 15vh;
    font-weight:300;
    text-align: right;
    padding-right: 3vw;
    line-height: 20vh;
    height: 20vh;
    width: 100%;
    box-sizing: border-box;
}
.button {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: Lato, Roboto, Arial;
    line-height: 16vh;
    text-align: center;
    width: 16.5vw;
    height: 16vh;
    box-sizing: border-box;
    background: red;
    color: white;
    float: left;
    font-size: 10vh;
    cursor: pointer;
    outline: none;
}
.button.long {
    width: 33vw;
}
.button.last {
    width: 17.5vw;
}
.button.last.long {
    width: 34vw;
}
.row {
    clear: both;
    position: relative;
}
